body{
	margin:0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
	line-height: 2em;
	font-family: "Helvetica Neue", Helvetica, STHeiTi,"黑体", sans-serif;
}

h1,h2,h3,p{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

ul{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start:0;
}

header{
	text-align: center;
	background-color: #75D7D9;
	color: #fff;
	font-size: 1.5em;
	line-height: 250%;
}

	header span{
		position: absolute;
		left: 2%;
	}


nav{
	font-size: 1.2em;
	display: flex;
	list-style: none;
	line-height: 250%;
}

nav a{
	width: 20%;
	text-align: center;
	text-decoration: none;
	color: #000;
}
	
	nav a:hover, nav .active{
		border-bottom: 2px solid #75D7D9;
	}

.topNav img{
	width: 100%;
}

.tagNavContainer{
	display: flex;
	border-bottom: 2px solid #f5f5f5;
	margin: 2%;
}

	.tagNav{
		width: 20%;
		text-align: center;
		padding: 2% 0;
	}

	.tagNav img{
		width: 60%;
	}

	.tagNav p{
		padding-top: 0.5em;
		font-size: 1.2em;
	}


.subColumnNav{
	display: flex;
}

	.subColumn{
		margin: 2% 0;
		border-right: 2px solid #f5f5f5;
		width: 33.33%;
		text-align: center;
	}
		.subColumn:last-child{
			border-right: none;
		}

	.subColumnImgContainer{
		height: 20%;
		display: flex;
  		flex-flow: column;
  		justify-content:space-around;
		align-items: center;
	}

	.subColumn img{
		width: 50%;
	}

	.subColumn h1{
		font-size: 1.4em;
	}

section{
	position: relative;
	border-top: 1em solid #f5f5f5;
	padding: 0 2%;

}

section h1{
	margin-top: 0.5em;
	line-height: 120%;
}

section small{
	color: #ccc;
}
.sectionContent{
	display: flex;
  	flex-flow: row wrap;
  	justify-content:space-between;
  	margin-bottom: 0.5em;
}

.sectionImgContainer{
	width: 33%;
}

	.sectionImgContainer img{
		width: 100%;
		padding: 0.2em 0;
	}

.sectionSpanContainer{
	width:66%;
	padding-left: 1%; 
	display: flex;
	flex-flow: row wrap;
  	justify-content:space-between;
}

.sectionSpan{
	width: 48%;
	margin: 1% 0.5%;
	text-align: center;
	background-color: #f5f5f5;
	font-size: 1.2em;
	display: flex;
	justify-content:center;
  	align-items:center;
}

.articleContainer{
	display: block;
	padding: 0.5em 0;
}

.article{
	width: 100%;
	display: flex;
	padding: 2%;
	border-bottom: 1px solid #f5f5f5;
}


.article img{
	width: 25%;
	height: 25%;
}

.articleSummary{
	padding-left: 1%;
	position: relative;
}
	
	.articleSummary h1{
		font-size: 22px;
		margin-top: 0;
	}

	.articleSummary small{
		position: absolute;
		bottom: 0px;
		line-height: 100%;
	}

.multiImgArticle{
	padding: 0 2%;
}

	.multiImgArticle h1{
		padding-bottom: 0.2em;
	}

.multiImgContainer{
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	align-items:flex-start;
}
	
	.multiImgContainer img{
		width: 33%;
	}

footer{
	height: 2em;
	background-color: #f5f5f5;
}



