body
{
    background-color: #e0e0e0;
    margin:0;
    font-size: 12px;
    font-family:"Microsoft Yahei";
    line-height: 150%;
    /* 仅用于覆盖Chrome默认样式表*/
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

h1{
    font-size: 2em;
}

h2,h4,span{
    color:gray;   
}

nav{
    background-color: #000;
    width: 100%;
    height: 50px;
}

nav img{
    margin-left: 20px;
    height: 50px;
}

nav ul{
    float: right;
    /* 以下仅用于覆盖Chrome默认样式表*/
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

nav ul li{
  float: left;
  margin-right: 20px;
  width: 60px;
  line-height: 50px;
}

nav ul li a{
  color: white;
  text-decoration:none;
}

    nav ul li .active{
      color:gray;
    }

    nav ul li a:hover{
      color:gray;
    }

.content{
    margin: 30px 430px 30px 20px;
}

article{
    background: white;
    padding: 30px;
    margin:20px 0;
    box-shadow: 0 0 0, 4px 0 3px #999,0 0 0,4px 4px 3px #999;
}

article p{
    text-indent: 2em;
}

article li{
    list-style: none;
}

article img{
    width: 300px;
    height: 200px;
}

.smallPictures{
    margin:10px;
    width: 150px;
    border: 1px solid gray;
    text-align: center;
    padding:20px 5px;
    display:inline-block;
}

.imgContainer img{
    margin-top: 10px;
    width: 120px;
    height: 80px;
}

article table{
    width: 100%;
    border:1px solid gray;
}

article table tr:first-child{
    color: white;
    background-color: #464646;
}

th,td{
    font-weight: normal;
    line-height: 2em;
}

.infoBlock{
    margin-left:150px;
}

.main_content{
    background: white;
    padding-top: 40px;
}

.subbutton{
    width:30px;
    color: white;
    background-color: blue;
}

.tr-bottom{
    color: black;
    background-color: #a8a8a8;
}

.inputHint{
    margin-left:30px;
    display: inline-block;
}

.inputContent{
    margin-left: 30px;
    display: inline-block;
}


aside{
	width:350px;
	padding:20px;
	background-color:white;
    margin-top: 60px;
	position:absolute;
    right:20px;
    top:20px;
	
	box-shadow:
    0 0 0px white, 
    4px 0 3px #999,
    0 0 0px white, 
    4px 4px 3px #999;
}

aside h3{
    font-size: 1.5em;
    border-left: 3px gray solid;
    line-height: 2em;
    padding-left:10px;
}

aside .questionRow{
    margin: 15px 0;
}

aside .inputTitle{
    display: inline-block;
    width: 30%;
    text-align: right;
    color: #000;
}

aside .inputHint{
    margin-left: 30%;
    padding-left: 5px;
    margin-top: 5px;
}

aside textarea{
    vertical-align: top;width: 45%;
	height: 100px;
}

aside button{
    margin-top:20px;
    width:100%;
    height:40px;
    color: white;
    background-color: #3355d0;
    border:none;
    border-radius: 5px;
    font-size:1.2em;
}

footer{
	width:100%;
	height:50px;
    color: #fff;
	background:black;
    line-height: 50px;
	text-align:center;
}