body{
	font-family: "黑体";
	font-size: 12px;
	line-height: 150%;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
}

.container{
	width:892px;
	margin: 0 auto;
}

.rowContainer{
	margin-top: 30px;
}

	.rowContainer:after{
		content: "";
		display: block;
		clear: both;
	}

.header{
	position:relative;
	height:61px;
	border-bottom: 2px solid #938e8e;
	margin-bottom: 30px;
}



	.headerTab{
		
		height:100%;
		width:110px;
		background: #DB3E75;
		color:#fff;
		float: left;
	}

		.headerTab span{
			position: absolute;
			left:5px;
			bottom: 5px;
		}

	.date{
		position: absolute;
		color:#DD4B7C;
		bottom: 2px;
		right:5px;
	}

.jumbotronLeft{
	position: relative;
	overflow: hidden;
	float: left;
	width:641px;
	height: 301px;
}

	.jumbotronLeft img{
		height: 301px;
		float: left;
	}

	.colorMask{
		position: absolute;
		width:191px;
		height: 301px;
	}

		#greenMask{
			background-color: rgba(0,255,0,0.5)
		}

		#purpleMask{
			background-color: rgba(255,0,255,0.5);
			right: 0;
		}

.jumbotronRight{
	width: 230px;
	float: right;
	border-top: 2px solid #cc8098;
	font-family: "微软雅黑";
}

	.posterTitle{
		line-height: 40px;
		font-size: 24px;
		font-variant: small-caps;
		text-decoration: underline;

	}

	.posterSubtitle{
		line-height: 10px;
		font-family: "楷体";
		font-style: italic;
		color: #676767;
	}

	.bigNumber{
		line-height: 100%;
		margin:20px 0;
		font-size: 116px;
		color:#75b86b;
		font-style: italic;
	}

	#numberAndNote{
		color:#cc8091;
		padding: 10px;
	}

		.mediumNumber{
			font-size:55px;
			float: left;
		}

		.note{
			float: left;
			margin-left: 5px;
		}

		.noteNumber{
			font-size: 21px;
		}



.col-4{
	float: left;
	width: 230px;
	margin-right: 20px;
}

	.colTitle{
		font-size: 16px;
		font-family: "微软雅黑";
		font-weight: bold;
		text-decoration: underline;
	}

		#colTitleGreen{
			color:#418c59;
		}

		#colTitleBrown{
			color:#d2994f;
		}

		#colTitlePurple{
			color:#cc7680;
		}

	.col-4 p{
		font-family: "宋体";
		color: #767777;
		margin-top: 8px;
		-webkit-margin-before: 8px;
		-webkit-margin-after: 8px;
	}

	.blackText{
		color: #231815;
		opacity: 70%;
	}

	.purpleNumber{
		font-style: italic;
		color: #cd4a48;
		opacity: 70%;
		line-height: 16px;
	}

.colLeft{
	float: left;
	width: 415px;
}

.articleTitle{
	font-weight: bold;
	color:#11456b;
	border-bottom: 2px solid #11456b
}

	.articleTitle strong{
		font-size: 70px;
		font-style: italic;
		color:#f5e327;
	}

	.articleTitle h1{
		font-size: 42px;
		line-height: 100%;
		margin: 8px 0;
	}

	.articleTitle h2{
		font-size: 33px;
		/* disable chrome useragent css */
		-webkit-margin-before: 0.5em;
    	-webkit-margin-after: 0.5em;
	}

	.articleTitle br{
		height: 16px;
	}

.article{
	position: relative;
	margin: 20px 0;
}

	.article p img{
		float: right;
		padding: 10px;
    	float: right;
    	width: 165px;
    	height: 285px;
	}

	.article p{
		font-family: "宋体";
		color: #767777;
		text-indent: 2em;
		line-height: 16px;
		-webkit-margin-before: 0em;
    	-webkit-margin-after: 0em;
	}

		.article .firstParagraph{
			text-indent: 0;
		}

	.article p span{
		float: left;
		width: 75px;
		height: 75px;
		line-height: 100%;
		color: #f5e327;
		font-family: "微软雅黑";
		font-size: 70px;
	}

	

.colRight{
	float: right;
	width: 458px;
}

.imgFrame{
	position: relative;
	height: 275px;
}

	.imgFrame img{
		width: 458px;
		height: 275px;
		float: left;
	}

	.bottomDescription{
		position: absolute;
		height: 61px;
		width: 100%;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		color: #fff;
		font-family: "微软雅黑";
		font-size: 26px;
	}

	.bottomDescriptionContainer{
		margin: 8px 30px;
		padding-left: 15px;
		height: 44px;
		line-height: 44px;
		border-left: 3px solid #72b16a;
	}

		.bottomDescriptionContainer span{
			font-size: 12px;
			font-style: italic;
			color: #72b16a;

		}

.catlogAndQuoteBox{
	margin-top: 20px;
	background-color: #eaf1cf;
	height: 318px;
}

	.catlog{
		height: 158px;
	}

	.ulLeft, .ulRight{
		list-style: none;
	/* disable Chrome user agent stylesheet */
		-webkit-margin-before: 0.5em;
    	-webkit-margin-after: 0.5em;
    	-webkit-padding-start: 0;
    }

	.catlog li{
		margin:20px 0;
		font-family: "宋体";

	}

	.ulLeft{
		font-size:16px;
		float: left;
		margin-left: 50px;
	}

		.ulLeft li{
			position: relative;
		}

			.ulLeft li:before{
			    position: absolute;
			    top: 5px;
			    left: -15px;
			    content: "";
			    display: block;
			    width: 0;
			    height: 0;
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-bottom: 8px solid #10456b;
			}

	.ulRight{
		float: right;
		margin-right: 50px;
		text-align: right;
		line-height: 16px;
		font-style: italic;
	}

		.ulRight li{
			padding-top: 2px;
		}



	.quoteTag{
		position: relative;
		background-color: #db3e75;
		color: #fff;
		float: left;
		width: 260px;
		height: 160px;

	}

	.quoteTagContainer{
		position: absolute;
		height: 86px;
		top: 50%;
  		left: 50%;
  		transform: translate(-50%,-50%);
	}

	.quoteTagBigNunber{
		float: left;
		font-size: 110px;
		line-height: 86px;
		width: 60px;
		border-right: 2px solid #fff;
		margin-right: 10px;
	}

	.quoteTagWord{
		width: 230px;
	}

		.quoteTagWord i{
			font-size: 21px;
			line-height: 24px;
		}

	.quoteWord{
		float: left;
		width: 170px;
		padding: 30px 12px;
		font-size: 14px;
		color: #5a5b5b;
		font-style: italic;
		line-height: 16px;
	}

		.quoteWord span{
			font-style: normal;
			font-size: 72px;
			color: #d45d5c;
			line-height:100%;
			height: 30px;
		}

			.quoteWord span:first-of-type{
				margin-left: -40px;
				margin-top: -20px;
				float: left;
			}

			.quoteWord span:last-of-type{
				float: right;
				margin-right: -40px;
			}




.footer{
	margin-top: 40px;
	border-top: 1px solid #938e8c;
	height: 60px;
}

.footerText{
	float: right;
	color: #d45d5c;
}