#board-container{
	box-sizing: border-box;
	position: relative;
}

ol{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
}

.row-header{
	letter-spacing: -0.5em;
}

.row-header li{
	display: inline-block;
	box-sizing: border-box;
	width: 40px;
	line-height: 40px;
	list-style: none;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0em;
}

.row-container li{
	list-style: none;
	letter-spacing: 0;
	display: flex;
    flex-flow: row wrap;
    height: 40px;
    line-height: 40px;
    position: relative;
    counter-increment: testname;
}

	.row-container li:before{
		content: counter(testname);
    	position: absolute;
    	left: -40px;
    	width: 40px;
    	text-align: center;
	}

.row-container li div{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
}

.operation-panel{
	margin: 20px 40px;
	position: relative;
}

#block {
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: 10px solid blue;
    box-sizing: border-box;
    background-color: red;
    z-index: 2;
    transition: all .5s;
}

.wall {
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: #ccc;
    z-index: 2;
    transition: all .5s;
}

#line-number-container{
	position: absolute;
	width: 20px;
	height: 140px;
	overflow: hidden;
	padding-top: 1px;
	text-align: center;
	background-color: #999;
	list-style: none;
	color: #fff;
	font-size: 12px;
	-webkit-padding-start: 0;
}

#line-number-container li{
	line-height: 14px;
}

#command{
	border:none;
	background-color: #000;
	color:#0f0;
	padding:0;
	margin-left: 20px;
	font-size: 12px;
}