body{
	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	padding: 20px;
  	height: 300px;
}

div{
	border: 1px solid #f00;
	width: 150px;
}

#box-1{
	height:120px;
}

#box-2{
	height: 100px;
}

#box-3{
	height: 40px;
}

#box-4{
	border-color:#00f;
	height: 200px;
}

@media(max-width:640px){
	body{
		align-items: flex-start;
	}

	#box-4{
		order:-1;
	}
}